body {
    background-color: #191970;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #191970;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: yellow;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#coin-image {
    width: 100%;
    max-width: 500px;
    height: auto; 
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#coin-name {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

#coin-description {
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
}

#frase01 {
    font-size: 20px;
    color: white;
}


#learn-more {
    font-size: 16px;
    color: #007bff;
}


.translations {
    margin-top: 20px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.social-links {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre o texto e os ícones */
    background-color: #007bff;
    padding: 10px;
    border-radius: 50%;
}

.social-links a {
    display: inline-block;
    margin-right: 10px; /* Espaço entre os ícones */
}

.social-links img {
    width: 50px; /* Tamanho dos ícones */
    height: 50px;
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.social-links img:hover {
    transform: scale(1.2); /* Efeito de escala ao passar o mouse */
}
